<div class="jumbotron">
  <div class="center-block" id="static-welcome">
    <h1>Out Of Five</h1>
    <p>Your Ratings Your Way</p>
    
    <button class="btn-lg">
      <%= link_to "Log In", new_user_session_path %>
    </button>
    <button class="btn-lg">
      <%= link_to "Register", new_user_registration_path %>
    </button><br>
    <%= image_tag "five-gold-stars.png" %>
  </div>
</div>
